Options -Indexes 
ErrorDocument 404 /404.php
php_value opcache.revalidate_freq 0
php_flag register_globals off

RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

Redirect 301 /makers/ http://kamin-sklad.ru/brands/
Redirect 301 /catalog/topki/topki-totem/ http://kamin-sklad.ru/catalog/topki/bolshie-topki-totem/
Redirect 301 /catalog/topki/piazzetta/ http://kamin-sklad.ru/catalog/topki/topki-so-steklom-piazzetta/
Redirect 301 /catalog/electric-fireplaces/ http://kamin-sklad.ru/
Redirect 301 /catalog/kaminy/metallicheskie-boley/844-t/ http://kamin-sklad.ru/
Redirect 301 /catalog/gazovye-topki/piazzetta/ https://kamin-sklad.ru/catalog/gazovye-topki/kal-fire/
Redirect 301 /catalog/pechi/dovre/sense203-crem-2420/ https://kamin-sklad.ru/catalog/pechi/dovre/sense203/
Redirect 301 /catalog/potolochnye-kaminy/ https://kamin-sklad.ru/catalog/podvesnye-kaminy/
#Redirect 301 /catalog/pech-kamin/westbo/ https://kamin-sklad.ru/

RewriteCond %{REQUEST_URI} ^/catalog/pechi/vermont-castings/encore$
RewriteRule ^.*$ http://kamin-sklad.ru/catalog/pechi/vermont-castings/encore/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/catalog/pech-kamin/westbo/(.*)$ 
RewriteRule ^(.*)$ / [R=301,L]
RewriteCond %{REQUEST_URI} ^/catalog/pechi/westbo-pechi/pech-plita-na-drovax/(.*)$
RewriteRule ^(.*)$ / [R=301,L]
RewriteCond %{REQUEST_URI} ^/catalog/pechi/westbo-pechi/$
RewriteRule ^(.*)$ / [R=301,L]

#Redirect 404 /bitrix/rk.php?goto=* https://kamin-sklad.ru/
#RewriteCond %{REQUEST_URI} ^/bitrix/rk.php?goto=*
#RewriteRule ^(.*)$ [R=404]
#RedirectMatch 404 ^/bitrix/rk.php?goto=*$

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_value display_errors 1
  #php_value mbstring.internal_encoding UTF-8
</IfModule>


<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  # Разрешить Googlebot
  RewriteCond %{HTTP_USER_AGENT} Googlebot [NC,OR]
  # Разрешить Yandex
  RewriteCond %{HTTP_USER_AGENT} Yandex [NC]
  RewriteRule ^ - [L]

  # Блокировать всех остальных ботов
  RewriteCond %{HTTP_USER_AGENT} bot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} crawler [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} spider [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Baiduspider [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} bingbot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Slurp [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} DuckDuckBot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Exabot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Sogou [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Facebot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} facebookexternalhit [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ia_archiver [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} megaindex [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} pchome [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Paparazzi [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} robot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} scrapper [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} SearchBot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} sitebot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} SISTRIX [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} spider [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} spiderbot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} zyborg [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} MJ12bot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} AhrefsBot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} SemrushBot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Outbrain [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} CCBot [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} SiteAnalyzer [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} NetSpider [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} Yeti [NC]
  RewriteRule ^ - [F]

  #2018.09.25:
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^robots\.txt$ robots.php [NC,L]

  #2018.03.06:
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>



<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 30 day"
  ExpiresByType image/gif "access plus 30 day"
  ExpiresByType image/png "access plus 30 day"
  ExpiresByType text/css "access plus 30 day"
  ExpiresByType application/javascript "access plus 30 day"
  ExpiresByType text/javascript "access plus 30 day"
</IfModule>

 <FilesMatch "(rk|redirect).(php)$"> 
 Order Allow,Deny
 Deny from all
 </FilesMatch>
