/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/
.mob__d {display:none!important;}
.catalog_block .cost.prices .price .price__old { text-align:center; }
.changeCity,.changeCity2 { margin-bottom: 5px; display: block; }
.changeCity i { margin-left: 5px; }

.changeCity2 {color: #c50026;}

.locations-list ul li { font-size: 16px; margin-bottom: 10px; }
.locations-list ul li:before { display: none; }

.btn_montag2 { display: none; }
.contact_print { float:right; margin-top: -55px; }
.contact_print a { margin-right: 0; }

@media (max-width:768px){
.mob__n {display:none!important;}
.mob__d2 {display:block!important;}
.callback_frame.popup {top:30px!important;}
}

@media (max-width:570px){


	.mob__d {display:block!important;}
}
@media (max-width:767px){

table.props_list {width:95%;}

}


@media all and (max-width: 550px){
	.contact_print { margin: 0px; display: block; float: none; text-align: right; }
}

@media (max-width: 1200px){
	#header .middle-h-row td.text_wrapp .slogan { display: block; }
	#header .middle-h-row td.text_wrapp .slogan bg{ display: none; }
	#header .middle-h-row td.text_wrapp .cupon { max-width: 140px; }
}
@media (max-width: 1120px){
	#header .middle-h-row .center_block {width: 30%; }
	#header .middle-h-row td.text_wrapp {width: 34%; }
}
@media (max-width: 1050px){
	#header .middle-h-row .center_block {width: 26%; padding-right: 0px; }
	#header .middle-h-row td.text_wrapp {width: 38%; }
}

.logo_wrapp .changeCity { display: none; }
.logo_wrapp .changeCity2 { display: none; }
@media all and (max-width: 992px){
	.logo_wrapp .changeCity { display: block; margin: 5px auto; }
	.logo_wrapp .changeCity2 { display: block; margin: 5px auto; }
	#header .middle-h-row .center_block {width: 60%; padding-right: 30px; }
}
@media all and (max-width: 860px){
	#header .middle-h-row .basket_wrapp { vertical-align: top; }
	.btn_montag2 { display: block; }	
	#header .middle-h-row td.text_wrapp .cupon { display: none; }
}

.brands_slider_wrapp {
	border-bottom: 1px solid #eaebec;
}

.inputfile { margin-bottom: 10px; }
.filter_hide_star .star { display: none; }

.more_articles .module-pagination { display: none; }

.reviews-block-container-articles .reviews-post-table .reviews-text { padding-bottom: 10px !important; }
.reviews-block-container-articles { margin: 0; }

#cat-text-top{
  height: 118px;
  overflow: hidden;
}
#cat-text-open{
  display: block;
  margin-bottom: 25px; margin-top: 5px; 
  font-style: italic;
}
.group_description_block.bottom { padding-top: 0; }

.news_detail_wrapp.article .article__top .rating div {margin:0 5px 0 0;}


.brands_slider_wrapp { margin-top: 15px !important; }

.stickers { cursor: default; }

.item_slider ul.slides li { padding-left: 0px !important; }
body .flex-control-paging li { padding-left: 0px !important; }

.simularCartFly { padding: 0 30px; max-width: 697px; }
.similar_products_wrapp h3 { text-align: left; }
@media all and (max-width: 550px){
	.simularCartFly { display: none; }
}

.basket_fly .basket_wrapp .basket_fly .podbor_block .wraps_icon_block { top: 18px; }
@media all and (max-width: 600px){
	.fly-basket-scroll { display: none; }
}

.right_block .wr .bx_catalog_item_scu li { margin-left: 0; }

.module-products-corusel { position: relative; }
.similar_products_wrapp_ { position: relative; }
.similar_products_wrapp_ ul.slider_navigation.top_big { top: -10px; }
.similar_products_wrapp .sku_props { display: block; }

.similar_products_wrapp { text-align: left; }

.display_list .list_item { width: 100%; }

body > table.center {
	display: none; /* Скрывает таблицу с классом "center" */
}